.card {
    width: 88px;
    height: 116px;
    border: 1px solid #d19c24;
    border-radius: 20px;
    background-color: #fbf6e9;
}

.card:hover {
    background-color: #bfd5ea;
    border: 2px solid #d19c24;

}

.card-value {
    font-size: 28px;
    /*padding-top: 15px;*/
}

.card-selected {
    background-color: #a6e1ec;
    border: 3px solid #d19c24;
}
.card-image {
    width: 84;
    height: 112px;
    /*margin: 10px;*/
    border-radius: 20px;

}
/*.card-disabled {*/
    /*opacity: 0.5;*/
    /*cursor: not-allowed;*/
/*}*/